---
- name: Backup MySQL Database
  hosts: all
  vars:
    backup_dir_remote: /home/ubuntu/database/mysql
    local_backup_dir: ~/Library/CloudStorage/OneDrive-Personal/Backup/gjpb/mysql
    db_user: "{{ vault_db_user }}"
    db_pass: "{{ vault_db_pass }}"
    backup_file_name: "backup_{{ db_name }}_{{ ansible_date_time.date }}_{{ ansible_date_time.hour }}{{ ansible_date_time.minute }}{{ ansible_date_time.second }}.sql"

  tasks:
    - name: Create backup directory on remote
      become: yes
      ansible.builtin.file:
        path: "{{ backup_dir_remote }}"
        state: directory

    - name: Perform MySQL Backup on remote
      become: yes
      command: >
        mysqldump -u{{ db_user }} -p{{ db_pass }} {{ db_name }}
        --single-transaction
        --quick
        --lock-tables=false
        --result-file={{ backup_dir_remote }}/{{ backup_file_name }}
      args:
        creates: "{{ backup_dir_remote }}/{{ backup_file_name }}"
      register: dump_output

    - name: Check mysqldump output
      become: yes
      ansible.builtin.debug:
        msg: "{{ dump_output.stdout }} {{ dump_output.stderr }}"

    - name: Fetch backup file to local machine
      become: no
      ansible.builtin.fetch:
        src: "{{ backup_dir_remote }}/{{ backup_file_name }}"
        dest: "{{ local_backup_dir }}/"
        flat: yes
        validate_checksum: no  # Optionally set this to yes for checksum validation

    - name: Clean up remote backup file
      become: yes
      ansible.builtin.file:
        path: "{{ backup_dir_remote }}/{{ backup_file_name }}"
        state: absent

  post_tasks:
    - name: Notification of backup completion
      ansible.builtin.debug:
        msg: "Backup completed successfully. Backup file is located at {{ local_backup_dir }}/{{ backup_file_name }}"
